./3D-ResNets-PyTorch/*
./maskrcnn/*

*.npy
*.jpeg
*.mp4
*.pth
*.zip

Charades_for_SAAT/
cityscapesScripts/
cocoapi/
code/
maskrcnn-benchmark/
apex/
3D-ResNets-PyTorch/
output/
input/
pyciderevalcap/
pycocoevalcap/