./3D-ResNets-PyTorch/*
./maskrcnn/*

*.npy
*.jpeg
*.mp4
*.pth
*.zip

Charades_for_SAAT/
cityscapesScripts/
cocoapi/
code/
maskrcnn-benchmark/
apex/
3D-ResNets-PyTorch/
output/
input/
pyciderevalcap/
pycocoevalcap/


./maskrcnn/*
*.png
*.jpg
./code/*
*.zip
*.pth
*.h5
*.PyTorch*.pkl
./.__pycache__/*
.Trash-0/
anet_frames_nas_mount/
charades_frames_jpg_fps_2/
